.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.main-container {
  color: #ffffff;
  font-family: Bree Serif;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  min-height: 100vh;
  padding-top: 1px;
  padding: 10px;
}

@media (min-width: 768px) {
  .main-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  }
}
